
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.center {
  margin: auto;
  text-align: center;
  margin-top: 230px;
}
.arrow1{
  margin: auto;
  text-align: center;
  margin-top:0px;
  margin-bottom: 365px;
}
.arrow2{
  margin: auto;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 70px;
}
.wtitle{
  margin:auto;
  text-align: center;
  width: 270px;
  font-size: 60px;
  color: white;

  margin-bottom: 320px;
  -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
}
.title {
  margin-left: 90px;
  text-align: left;
  width: 235px;
  z-index: 0;
  font-size: 50px;
  margin-bottom: 30px;
  color: white;
  -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
}
.main {
  margin:auto;
  text-align: center;
  color:white;
  margin-top: -100px;
  margin-bottom: 1000px;
  -webkit-backdrop-filter: blur(30px);
   backdrop-filter: blur(30px);
   padding: 5px;
}
.fa-cloud-download:before {
  content: /f0ed;
}

*{
 margin: 0;
 padding: 0;
}
html {
    scroll-behavior: smooth;
}
html{
    width: 100vw;
    height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

/* CSS which you need for blurred box */
body{
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-position: top;
 background-image:url(1825378.jpg);
 width: 100%;
 height: 100%;
 font-family: Arial, Helvetica;
 letter-spacing: 0.02em;
  font-weight: 400;
 -webkit-font-smoothing: antialiased;
}
.info {
  width: 90%;
}
.face {
  text-align: center;
  border-radius: 5px;
  margin: auto;
  margin-top: 100px;
  width: 500px;
  height: 410px;
  -webkit-backdrop-filter: blur(15px);
   backdrop-filter: blur(15px);
   box-shadow: inset 0 0 0 500px rgba(255,255,255,0.05);
}
#maincontent, #cv, #exp, #act, #contact {
  font-size: 0px;
}
.personal-info1 {
	padding: 25px;
	display: inline-block;
	width: 100%;
  list-style-type: none;
  font-family: 'Rubik';
}
.personal-info1 li {
	width: 50%;
	float: left;
}
.personal-info1 li span {
	width: 100%;
	float: left;
	text-transform: uppercase;
	font-weight: bold;
  font-size: 9px;
  margin-right:-15px;
  color:white;
  letter-spacing: 1px;
}
.personal-info1 li p {
	margin: 0px;
	line-height: 30px;
  color:#141414;
}
.personal-info1 li a {
	color: #346abb;
  text-decoration: none;
}
.personal-info1 li a:hover {
	color: #6283b5;
  text-decoration: none;
}

/* Form which you dont need */
.user-login-box{
  position: relative;
  margin-top: 50px;
  text-align: center;
  z-index: 1;
}
.user-login-box > *{
  display: inline-block;
  width: 200px;
  margin: auto;
  vertical-align: middle;
}

.user-icon{
  width: 110px;
  height: 110px;
  margin-top: 15px;
  position: relative;
  margin-right: 7px;
  border-radius: 10%;
  background-size: contain;
  background-image: url(profile.jpg);
}

.user-name{
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: white;
  font-size: 50px;
  font-family: 'Rubik';
  letter-spacing: 1.5px;
  width:auto;
}
.arrow:hover{
  border: solid #e3dfde;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;

}
input.user-password{
  width: 120px;
  height: 18px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
}
.attach {
  display: flex;
  justify-content: center;
  margin-top:10px;
}
.attach ul{
  list-style-type: none;
  padding: 0;
  position: relative;
  top: 8px;
  text-align:center;
  overflow:hidden;
  width: 100%
  display:inline-block;
  z-index: 1000;
}
.attach ul li{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 14px 4px 14px;;
  text-decoration: none;
  position: none;
  top: 10px;
}
nav {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.nav ul{
  list-style-type: none;
  padding: 0;
  position: fixed;
  top: 8px;
  text-align:center;
  overflow:hidden;
  width: 100%
  display:inline-block;
  z-index: 1000;
}
.nav ul li, .nav ul li button{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  position: none;
  top: 10px;
  margin-bottom: 10px;
}
.nav ul li:active, .nav ul li button:active {
  background-color: rgba(192, 192, 192, 0.25);
}
.nav ul li a{
  text-decoration: none;
  color: white;
}
.act {
  text-align: center;
  margin-right:20px;
}
.activity a:not(.closebtn1){
  margin-right:20px;
  margin-bottom: 50px;
  border-style: solid;
  border-width: 2px;
  backdrop-filter: blur(4px);
  border-radius: 2px;
  font-family: 'Rubik';
  text-align: center;
  padding:14px;
  color:white;
  font-size: 15px;
  top: -28px;
  position: none;
}
.activity a:not(.closebtn1):hover {
  background: linear-gradient(to left, rgb(242,112,156, 0.65), rgb(255,148,114, 0.65));
}
.activity2 a:not(.closebtn2){
  margin-right:20px;
  margin-bottom: 50px;
  border-style: solid;
  border-width: 2px;
  backdrop-filter: blur(4px);
  border-radius: 2px;
  font-family: 'Rubik';
  text-align: center;
  padding:14px;
  color:white;
  font-size: 15px;
  top: -28px;
  position: none;
}
.activity2 a:not(.closebtn2):hover {
  background: linear-gradient(to left, rgb(242,112,156, 0.65), rgb(255,148,114, 0.65));
}
.activity3 a:not(.closebtn3){
  margin-right:20px;
  margin-bottom: 50px;
  border-style: solid;
  border-width: 2px;
  backdrop-filter: blur(4px);
  border-radius: 2px;
  font-family: 'Rubik';
  text-align: center;
  padding:14px;
  color:white;
  font-size: 15px;
  top: -28px;
  position: none;
}
.activity3 a:not(.closebtn3):hover {
  background: linear-gradient(to left, rgb(242,112,156, 0.65), rgb(255,148,114, 0.65));
}
.blank {
  border-style: solid;
  border-width: 2px;
  margin: 0;
  backdrop-filter: blur(4px);
  border-radius: 2px;
  font-family: 'Rubik';
}
.blank:hover {
  background: linear-gradient(to left, rgb(242,112,156, 0.65), rgb(255,148,114, 0.65));
  margin-top: 2px;
}

.contact {
  margin-left:40px;
  margin-top:30px;
}
.contact form li {
	text-align: left;
	margin-bottom: 10px;
	display: inline-block;
	width: 300px;
}
.contact1 {
  display:flex;
  float:left;
  margin-bottom: 100px;
}
.contact form input {
	text-align: left;
	margin-bottom: 10px;
	display: block;
	border: none;
	height: 40px;
	width: 300px;;
	border-radius: 0px;
	line-height: 30px;
	color: #333;
	box-shadow: none;
	padding: 0px 20px;
	font-size: 13px;
	background: none;
	text-transform: none;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
.contact form textarea {
	text-align: left;
	margin-bottom: 10px;
	display: inline-block;
	width: 400px;;
	height: 120px !important;
	border: none;
	box-shadow: none;
	padding: 10px 20px;
	background-color: rgba(192, 192, 192, 0.60);
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  border-color: white;
	text-transform: none;
	-webkit-transition: all 0s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
  font-family: 'Rubik';
  color: black;
  font-size: 14px;
  letter-spacing: 0.6px;
}
.contact form #btn {
  color: white;
  text-align:center;
  width: 130px;
  border-style: solid;
  border-width: 2px;
  font-size: 16px;
  margin: 0;
  backdrop-filter: blur(10px);
  border-radius: 2px;
  font-family: 'Rubik';
}
textarea::placeholder, #subject::placeholder {
  font-family: 'Rubik';
  color: #202020;
  font-size: 14px;
  letter-spacing: 0.6px;
}
#subject{
  font-family: 'Rubik';
  color: black;
  font-size: 14px;
  letter-spacing: 0.6px;
}
.social-icon {
  margin-bottom: 5px;
  font-size: 0px;
  margin-left:30px;
  padding: 10px 10px 2px 10px;;
  font-size: 16px;
  width: 130px;
}
.social-icon li {
  display:inline;
}
.social-icon a {
    text-decoration: none;
}
.social-icon img {
  width:40px;
}
#btn:hover {
  background-color: rgba(192, 192, 192, 0.15);
}
.text {
  width: 80%;
  max-width: 1100px;
  text-align: left;
  justify-content: center;
  margin: auto;
  border-style: solid;
  border-width: 2px;
  border-radius: 0px;
  border-color: white;
  padding: 25px;
  font-family: 'Rubik';
  background-color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
  line-height: 23px;
  margin-bottom:15px;
}
h5.tittle {
	font-size: 20px;
  font-family: default;
	padding: 5px 0px 10px 20px;
	margin-bottom: 10px;
  text-transform: uppercase;
	color: #333333;
	letter-spacing: 1px;
	border-bottom: 2px solid white;
}
.subtitle{
  font-size: 14px;
  font-family: default;
  padding: 5px 0px 0 20px;
  color: #333333;
  letter-spacing: 1px;
}
.subtitle hr {
  width: 40%;
  content: none;
  border-bottom: 2px solid white;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  display: inline-flex;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel p {
  margin-top:10px;
}

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
  justify-content: center;
	position: relative;
	margin: auto;
	height: 30px;
	width: 50%;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
.progress-done1 {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
.progress-done2 {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
.progress-done3 {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
.progress-done4 {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
.sun {
  width: 400px;
}
.company-logo {
  position: absolute;
}
.media-left span {
	width: 160px;
	display: inline-block;
	margin-right: 10px;
}
#myBtn, #myBtn1, #myBtn2, #myBtn3 {
	background: none;
	color: #346abb;
	border: none;
	padding-top: 7px;
}
#more, #more1, #more2, #more3 {
	display: none;
}
article img {
  width:100%
}
.post-info {
	padding: 0px;
	position: relative;
}
.post-info .post-in {
	background: #e4e9ed;
}
.post-info hr {
	margin: 10px 0;
	background: #444444;
}
.post-in {
	padding: 25px;
	text-align: left;
}
.post-in .btn-1 {
	letter-spacing: 1px;
	background: #346abb;
	color: #fff;
	line-height: 20px;
	margin-top: 10px;
	padding: 9px 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	display: inline-block;
}
.btn-1 {
	letter-spacing: 1px;
	background: #346abb;
	color: #fff;
	line-height: 20px;
	margin-top: 10px;
	padding: 9px 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	display: inline-block;
}
.post-in .btn-1 i {
	margin-left: 10px;
}
.post-in .btn-1:hover {
	background: #333;
}
.post-in span.by {
	color: #fb4848;
	font-size: 12px;
	display: inline-block;
	width: 100%;
}
.post-info p {
	font-size: 14px;
	line-height: 26px;
}
.post-info .read-more {
	border-bottom: 1px dotted #00b1f1;
	display: inline-block;
	float: right;
	text-transform: uppercase;
	margin-top: 20px;
	margin-right: 10px;
	font-weight: bold;
	color: #444444;
	font-size: 11px;
}
.extra span i{
  margin-right:8px;
}
.extra span {
  margin-right:18px;
}
.extra {
  margin: 10px 0 20px 0;
}
.stitle {
  text-transform: uppercase;
  padding: 15px;
  font-size: 18px;
  margin-bottom: 10px;
}
.stitle:hover{
  text-decoration:none;
}

.post-in p {
  margin-top:15px;
  margin-bottom:20px;
}
.rdmore {
  padding:9px;
  border-color: white;
  cursor:pointer;
}
.rdmore:hover {
  text-decoration:none;
}
.gmap_canvas {
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  margin-left: 40px;
}
.map {
  margin-right: 40px;
  margin-top: 40px;
}
.contact.text {
  width:60%;
  border-radius: 14px 14px 14px 14px;
  float:left;
  margin: 15px 0 0 40px;
}
.social-icon img:hover{
  filter: contrast(180%);
}
.overflowhid {
  overflow: hidden;
}
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.8s;
}
.fade-in1 {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');


section {
  opacity: 1;
  height:100%;
  width: 100%;
}
.active section {
  opacity: 1;
  transition: opacity 0.5s;
}
.btn-cta {
  border: 5px solid;
  border-radius: 0;
}
.btn-cta__green {
  border-color:#76FF03;
  background-color: transparent;
  color: #76FF03;
}
.btn-cta__gray {
  border:#ccc;
  background-color: transparent;
  color: #ccc;
}
.slide-wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index:3;
}
h1, h2, h3, h4, h5{
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.cover-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
}


.cover-wrapper__inner {
  display: table-cell;
  vertical-align: middle;
}
.cover-wrapper__container {
    margin-right: auto;
    margin-left: auto;
}
section#nav {
  height: 50px;
}
#home {
    .slide-wrapper {
      background-color: none;
    }

}
#home-content {
  z-index: 5;
}
#box1 {
  display: block;
  width: 20px;
  height: 20px;
  background-color: red;
}
#portfolio {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    background: none;
}
.preload {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1032;
  background-color: #7752d5;
}

.circle {
  border-radius: 190px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
}

.circle1 {
  background-color: #7752d5;
  width: 240px;
  height: 240px;
  margin-top: -120px;
  margin-left: -120px;
}

.circle2 {
  background-color: #8362d9;
  width: 170px;
  height: 170px;
  margin-top: -85px;
  margin-left: -85px;
}

.circle3 {
  background-color: #9f88d6;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
}
.spammer-container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  background-color: green;

  .spammer__content {
    position: inherit;
    width:100%;
    height:100%;
    display: block;
    animation: spamcolor 0.1s infinite;
    -webkit-animation: spamcolor 0.1s infinite;
  }

}

.smallcircles {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  animation: infinite-rotation 150s infinite;

}
.small-circle {
  position: inherit;
  display:block;
  width: 250px;
  height: 250px;
  background: #3b1b8b;
  margin-top: -125px;
  margin-left: -125px;
  border-radius: 125px;
  -webkit-animation: smallcircle 0.8s ease-in-out alternate;
  -moz-animation: smallcircle 0.8s ease-in-out alternate;
  animation: smallcircle 0.8s ease-in-out alternate;
}
.square {
  position: inherit;
  display:block;
  width: 200px;
  height: 200px;
  background: #291159;
  border-radius: 5px;
  -webkit-animation: square 1.3s ease-in-out alternate;
  -moz-animation: square 1.3s ease-in-out alternate;
  animation: square 1.3s ease-in-out alternate;
}

.small-circle:nth-child(1) {
  display:block;
  top: 12%;
  left: 34%;
}
.small-circle:nth-child(2) {
  display:block;
  top: 45%;
  left: 84%;
}
.small-circle:nth-child(3) {
  display:block;
  top: 78%;
  left: 15%;
}
.small-circle:nth-child(3) {
  display:block;
  top: 95%;
  left: 15%;
}

.big-circles {
  position: inherit;
  width: 100%;
  height: 100%;
  animation: infinite-rotation 125s infinite;

}
.triangle {
  width: 100px;
  -webkit-animation: triangle 0.8s ease-in-out alternate;
  -moz-animation: triangle 0.8s ease-in-out alternate;
  animation: triangle 0.8s ease-in-out alternate;
  height: 100px;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 200px solid #392aad;
  position: inherit;
  display:block;
}
.big-circle {
  position: inherit;
  display:block;
  width: 500px;
  height: 500px;
  background: #1f0a55;
  margin-top: -250px;
  margin-left: -250px;
  border-radius: 250px;
  -webkit-animation: bigcircle 1.1s ease-in-out alternate;
  -moz-animation: bigcircle 1.1s ease-in-out alternatee;
  animation: bigcircle 1.1s ease-in-out alternate;
}

.big-circle:nth-child(1) {
    top: 12%;
    left: 14%;
}
.big-circle:nth-child(2) {
    display: block;
    top: 98%;
    left: 84%;
}
.big-circle:nth-child(3) {
  display:block;
  top: 78%;
  left: 0%;
}
.big-circle:nth-child(4) {
  display:block;
  top: 36%;
  left: 80%;
}

// animations

@keyframes spamcolor {
  0%   {background: red;}
  50%  {background: yellow;}
  100% {background: red;}
}

@-webkit-keyframes spamcolor {
  0%   {background: red;}
  50%  {background: yellow;}
  100% {background: red;}
}

@keyframes smallcircle {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes square {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes triangle {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bigcircle {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes infinite-rotation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#nav1 {
  transition: 0.5s;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow:hidden;
  left: 0;
  background: none;
  transition: 0.5s;
  padding-top: 60px;
}
.borderright {
    border-right: 1px solid white;
}
article {
  max-width: 920px;
  margin:auto;
}
.sidebar1 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow:scroll;
  right: 0;
  background: none;
  transition: 0.5s;
}
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sidebar1::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar1 {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:not(.closebtn):hover {
  color: #b9b9b9;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  color:#818181;
  margin-left: 50px;
}
.closebtn1:hover, .closebtn2:hover, .closebtn3:hover, .closebtn:hover{
  color:#f1f1f1;

}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  margin-left:15px;
  background:none;
  color:white;
  position: fixed;
  list-style-type: none;
  padding: 5px 10px 5px 10px;
  position: fixed;
  top: 8px;
  text-align:center;
  overflow:hidden;
  width: 100%
  display:inline-block;
  z-index: 1000;
}
.openbtn1 {
  font-size: 20px;
  cursor: pointer;
  margin-right:15px;
  right:0;
  background:none;
  color:white;
  position: fixed;
  list-style-type: none;
  padding: 5px 10px 5px 10px;
  position: fixed;
  top: 8px;
  text-align:center;
  overflow:hidden;
  display:inline-block;
  z-index: 1000;
}
.openbtn2 {
  font-size: 20px;
  cursor: pointer;
  margin-right:15px;
  right:0;
  background:none;
  color:white;
  position: fixed;
  list-style-type: none;
  padding: 5px 10px 5px 10px;
  position: fixed;
  top: 65px;
  text-align:center;
  overflow:hidden;
  display:inline-block;
  z-index: 1000;
}
.openbtn3 {
  font-size: 20px;
  cursor: pointer;
  margin-right:15px;
  right:0;
  background:none;
  color:white;
  position: fixed;
  list-style-type: none;
  padding: 5px 10px 5px 10px;
  position: fixed;
  top: 125px;
  text-align:center;
  overflow:hidden;
  display:inline-block;
  z-index: 1000;
}
.nextprev {
  border:none;
  background:none;
  filter: drop-shadow(16px 16px 20px red) invert(45%);
}
.nextprev:hover {
  filter: drop-shadow(16px 16px 20px red) invert(75%);
}
#main {
  transition: margin-left .5s;
}
.main1 {
  transition: margin-right .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.sidebar .latest-post li {
	padding: 15px 0 0 0;
}
.sidebar .latest-post li a {
	padding: 0px !important;
	line-height: 20px;
  font-size: 16px;
}
.latest-post li .media-left img {
	width: 60px;
}

.media-left a {
	height: 70px;
	width: 70px;
	display: inline-block;
	margin-right: 10px;
}
.media-body1 {
  position: relative;
  color:white;
}
.latest-post .media:hover {
  cursor: pointer;
  background-color: rgba(192,192,192,0.05);

}
.media-body1 p{
  font-size: 10px;
  margin-top: 10px;
  color:#dfdfdf;
}
.white {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lp {
  text-align:center;
  justify-content: center;
}
.media {
  font-family: 'Rubik';
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding-top:14px;
  display:flex;
}
.latest-post {
  margin-top:35px;
  list-style-type: none;
  text-decoration: none;
  padding-left:20px;
  padding-right:12px;
  padding-top: 15px;
  padding-bottom: 15px;
  backdrop-filter: blur(4px);
}
.sidebar1 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background: none;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar1 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar1 .closebtn1 {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.mapouter{
  position:relative;
  text-align:right;
  height:417px;
  width:738px;
  }
.gmap_canvas {
    overflow:hidden;
    background:none !important;
    height:417px;
    width:738px;
  }
.sidebar2 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background: none;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar2 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar2 .closebtn2 {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidebar3 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background: none;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar3 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.down1:hover {
  color: #f1f1f1;
  background: linear-gradient(to left, rgb(242,112,156, 0.65), rgb(255,148,114, 0.65));
}
.sidebar3 .closebtn3 {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar1 {padding-top: 15px;}
  .sidebar1 a {font-size: 18px;}
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  width: 1000px;
  height:640px;
  overflow:hidden;
}
.caro {
  width: 1000px;
  justify-content: center;
  margin: auto;
  border: 1px solid white;
  border-radius: 5px;
  overflow:hidden;
  z-index:1;
}
.lu {
  justify-content: center;
  color: white;
  align: center;
  display:flex;
  left:-100%;
  font-size: 15px;
  font-family:'Rubik';
  bottom:-5px;
  border: 2px solid white;
  border-radius: 8px;
  backdrop-filter: blur(4px);
  padding: 10px;
  width: 300px;
  bottom:0;
  height: 50px;
  margin-top:300px;
}
